<a class="sr-only" id="EB1" data-remote="true" href="<%= show_price_path %>?building=EB1"></a>
<a class="sr-only" id="EB2" data-remote="true" href="<%= show_price_path %>?building=EB2"></a>
<a class="sr-only" id="EB3" data-remote="true" href="<%= show_price_path %>?building=EB3"></a>
<a class="sr-only" id="NB" data-remote="true" href="<%= show_price_path %>?building=NB"></a>
<a class="sr-only" id="EB4" data-remote="true" href="<%= show_price_path %>?building=EB4"></a>
<a class="sr-only" id="EB5" data-remote="true" href="<%= show_price_path %>?building=EB5"></a>
