<div class="row">
  <h1>Select the date you want to bet on</h1>
  <% 7.times do |i| %>
    <% date = (Time.now + i.days).strftime("%m/%d/%Y") %>
    <h3 class="text-center">
      -<%= date%>
      <button class="btn btn-default" id="button_<%= i %>">Open</button>
    </h3>
    <div class="row sr-only" id="map_<%= i %>" style="position:relative">
      <%= image_tag("UNIST_Map_2_edited", class: "img-responsive col-sm-10 col-sm-offset-1", usemap: "#image-map", id: "unist_map") %>
      <map name="image-map">
        <%#= 102-EB1, 104-EB2, 106-EB3, 108-NB, 110-EB4, 112-EB5  404-Faculty up
             403-Faculty down 114-administration 101-dormitory%>
     	<%#= Need to adjust the map area%>
        <%#= EB5 %>
        <area coords="481,1321,525,1339,490,1489,439,1472" shape="poly" href="#"  >
        <%#= EB4 %>
        <area coords="613,1333,661,1325,683,1482,630,1481" shape="poly" href="<%= show_price_path %>?building=110" target="_blank">
        <%#= NB %>
        <area coords="745,1310,784,1284,849,1424,808,1454" shape="poly" href="<%= show_price_path %>?building=108" target="_blank">
        <%#= EB3 %>
        <area coords="842,1228,875,1204,969,1349,924,1384" shape="poly" href="<%= show_price_path %>?building=106" target="_blank">
        <%#= EB2 %>
        <area coords="926,1157,959,1119,1094,1228,1048,1277" shape="poly" href="<%= show_price_path %>?building=104" target="_blank">
        <%#= EB1 %>
        <area coords="1015,1085,1020,1039,1175,1091,1149,1171,1051,1152" shape="poly" href="<%= show_price_path %>?building=102" target="_blank">
        <%#= Faculty Aprt. Up %>
        <area coords="139,1135,238,1103,253,1147,153,1179" shape="poly" href="<%= show_price_path %>?building=404" target="_blank">
        <%#= Faculty Aprt. Down %>
        <area coords="152,1297,238,1243,260,1274,175,1338" shape="poly" href="<%= show_price_path %>?building=403" target="_blank">
        <%#= Administration %>
        <area coords="629,668,771,582,652,489,608,515" shape="poly" href="<%= show_price_path %>?building=114" target="_blank">
        <%#= Dormitory %>
	<area coords="414,160,554,81,613,221,548,244" shape="poly" href="#" 
            onclick="showTradeModal(<%=MarketMaker.get_security_group_id date,101%>)">
      </map>
      <%#= EB 5 %>
      <div style="position:absolute;left:389px;top:920px" class="nothing_change">
	 <%= sprintf("%.4f", SecurityGroup.find_by(date_market: date, building_num: 112).price) %>
      </div>
      <%#= EB 4 %>
      <div style="position:absolute;left:489px;top:920px" class="nothing_change">
	 <%= sprintf("%.4f", SecurityGroup.find_by(date_market: date, building_num: 110).price) %>
      </div>
      <%#= NB %>
      <div style="position:absolute;left:579px;top:900px" class="nothing_change">
	 <%= sprintf("%.4f", SecurityGroup.find_by(date_market: date, building_num: 108).price) %>
      </div>
      <%#= EB 3 %>
      <div style="position:absolute;left:655px;top:850px" class="nothing_change">
	 <%= sprintf("%.4f", SecurityGroup.find_by(date_market: date, building_num: 106).price) %>
      </div>
      <%#= EB 2 %>
      <div style="position:absolute;left:720px;top:790px" class="nothing_change">
	 <%= sprintf("%.4f", SecurityGroup.find_by(date_market: date, building_num: 104).price) %>
      </div>
      <%#= EB 1 %>
      <div style="position:absolute;left:777px;top:730px" class="nothing_change">
	 <%= sprintf("%.4f", SecurityGroup.find_by(date_market: date, building_num: 102).price) %>
      </div>
      <%#= Administration Price %>
      <div style="position:absolute;left:500px;top:400px" class="nothing_change">
	 <%= sprintf("%.4f", SecurityGroup.find_by(date_market: date, building_num: 114).price) %>
      </div>
      <%#= Dormitory Price %>
      <div style="position:absolute;left:390px;top:131px" class="nothing_change">
	 <%= sprintf("%.4f", SecurityGroup.find_by(date_market: date, building_num: 101).price) %>
      </div>
      <%#= Faculty Aprt. Up %>
      <div style="position:absolute;left:200px;top:745px" class="nothing_change">
	 <%= sprintf("%.4f", SecurityGroup.find_by(date_market: date, building_num: 404).price) %>
      </div>
      <%#= Faculty Aprt. Up %>
      <div style="position:absolute;left:212px;top:837px" class="nothing_change">
	 <%= sprintf("%.4f", SecurityGroup.find_by(date_market: date, building_num: 403).price) %>
      </div>
    </div>
  <% end %>
</div>

<script>
$(document).ready(function(){
  <% 7.times do |i| %>
    $("#button_<%= i %>").click(function(){
    $("#map_<%= i %>").toggleClass("sr-only");
    var text = $("#button_<%= i %>").text();
    $("#button_<%= i %>").text( 
      text == "Open" ? "Close" : "Open");
    });
  <% end %>
});
</script>
