<% if ( (!!defined? @building)&&(!!defined? @securities) ) %>
  <div class="modal fade price_modal" id="<%= @building %>_price_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">
            <div><%= t '.current_price_of_building', building: @building %>-<span id="modal_header_floor"></span></div>
          </h4>
        </div>
        <div class="modal-body">
          <%#= security price table %>
          <% i = 0 %>
          <% @floors.times do |z| %>
          <div class="<%= @building %> table-responsive" 
              id="security_modal_<%= @building %>_<%= z+1 %>">
            <table class="table">
              <tr>
                <th>DATE</th>
                <% Security.DATE_RANGE.times do |x| %>
                  <th><%= x+1 %></th>
                <% end %>
              </tr>
              <tr>
                <th>SECURITY</th>
                <% Security.DATE_RANGE.times do |y| %>
                  <% security = @securities[i] %>
                    <td class="security_cell_buy <%= Security.get_price_change_rate(security.price, security.past_price) %>" data-id="<%= security.id %>" data-event="<%= security.event %>" data-toggle="tooltip" title="<%= t '.security' %>: <%= security.event %>, <%= t '.quantity' %>: <%= security.quantity %>">
                      <%= security.event %>
                    </td>
                    <% i += 1 %>
                <% end %>
              </tr>
            </table>
          </div>
          <% end %> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="show_buy_modal('<%= @building %>')"><%= t '.buy' %></button>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t '.close' %></button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

