<% if ( (!!defined? @building)&&(!!defined? @securities) ) %>
  <div class="modal fade price_modal" id="<%= @building %>_price_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">
            <div class="<%= @building %>"><%= t '.current_price_of_building', building: @building %></div>
          </h4>
        </div>
        <div class="modal-body">
          <%#= security price table %>
          <div class="<%= @building %> table-responsive">
            <table class="table">
              <tr>
                <th></th>
                <% Security.DATE_RANGE.times do |x| %>
                  <th><%= x+1 %></th>
                <% end %>
              </tr>
              <% i = 0 %>
              <% Security.SPACE_RANGE.times do |x| %>
                <tr>
                  <th><%= x+1 %></th>
                  <% Security.DATE_RANGE.times do |y| %>
                    <% security = @securities[i] %>
                    <td class="security_cell_buy <%= Security.get_price_change_rate(security.price, security.past_price) %>" data-id="<%= security.id %>" data-event="<%= security.event %>" data-toggle="tooltip" title="<%= t '.security' %>: <%= security.event %>, <%= t '.quantity' %>: <%= security.quantity %>">
                      <%= security.price %>
                    </td>
                    <% i += 1 %>
                  <% end %>
                </tr> 
              <% end %>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="show_buy_modal('<%= @building %>')"><%= t '.buy' %></button>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t '.close' %></button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

